@model List<string>
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}
<!DOCTYPE html>

<html>
<head>
    <title>Архивация</title>
</head>
<body>
    <style>
        p {
            margin-top: 10px;
        }
    </style>




    <p></p>
    <a href="~/Home/Zip" class=btn-floating btn-large waves-effect waves-light red"><i class="material-icons">archive</i></a>
    <p></p>

    <form asp-controller="Home" asp-action="Index">
    </form>
    <form method="post">
        @foreach (var filename in Model) 
        {
        <p>
            <input type="checkbox" name="FilesforArchiving[@i].Selected" value="true" />
            <input type="hidden" name="FilesforArchiving[@i].Selected" value="false" />
            <input type="hidden" name="FilesforArchiving[@i].Name" value="@filename" />
            @filename
        </p>

            i++;
        }
        <input type="submit" value="Загрузить" />
    </form>





</body>
</html>