@model List<string>
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}
<!DOCTYPE html>

<html>
<head>
    <title>Архивация</title>
</head>
<body>
    <style>
        p {
            margin-top: 10px;
        }
    </style>

    <h3>Выбрать файлы для загрузки</h3>

    <form asp-controller="Home" asp-action="Index">
    </form>
    <form method="post">
        @foreach (var filename in Model)

        {

            <p>

                <label>
                    <input type="checkbox" name="files[@i].Name" value="@filename" />
                    <span></span>
                </label>

                @*<input type="checkbox" name="files[@i].Selecte" value="true" />
                <input type="hidden" name="files[@i].Selected" value="false" />
                <input type="hidden" name="files[@i].Name" value="@filename" />*@
                @filename
            </p>

            i++;
        }

            <input type="submit" value="Загрузить" class="waves-effect waves-light btn-small"/>

    </form>





</body>
</html>